@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Cafe24Ssurround;
  src:
    local("Cafe24Ssurround"),
    url("/font/Cafe24Ssurround.woff") format("woff"),
    url("/font/Cafe24Ssurround.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: PretendardVariable;
  src:
    local("PretendardVariable"),
    url("/font/PretendardVariable.woff2") format("woff");
  font-display: swap;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
